<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1aK_uQrcRxjyR5L_uaW6GGvuAbL8ALcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1091283604683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreya.CulinaryArt</string>
	<key>PROJECT_ID</key>
	<string>culinaryart-26325</string>
	<key>STORAGE_BUCKET</key>
	<string>culinaryart-26325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091283604683:ios:77ad6abb625d5459d6b74e</string>
</dict>
</plist>
